<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir producto</title>
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styleaddproduct.css" rel="stylesheet">
</head>

<body>
     <!-- Navbar -->
    <%- include('./partials/headerNavbar') %>
    
<section>
    <form action="/products/addproduct" method="POST" enctype="multipart/form-data" class="form-addprod">

        
        <div class="form-add-product">
            <div><h2 class="h2-add-prod">Cargar nuevo producto</h2></div>
            <div class="container-1">
                <div class="images-to-add">
                    <div class="inp-add-image" type="" id="preview"> </div>
                 </div>
                <div class="part1">
                    <div class="errors">
                        <ul></ul>
                      </div>
                     <!-- <% if (locals.errors) { %>
                <% for ( let oneError in errors ) { %>
                    <p class="errores"><%= errors[oneError].msg %></p>
                    <% } %>
                    <%} %> -->
                      <input class="inp-add-prod" id="title" name="title" type="text" placeholder="Título" size="30" value="<%= locals.oldData && oldData.title ? oldData.title:'' %>">
                      <% if (typeof errors != 'undefined' && typeof errors.title != 'undefined') { %>
                          <span style="color: red"><%= errors.title.msg %></span> 
                        <% } %>
                      <input class="inp-add-prod" id="description" name="shortDescription" type="text" placeholder="Descripción" size="200" value="<%= locals.oldData && oldData.shortDescription ? oldData.shortDescription:'' %>">
                      <% if (typeof errors != 'undefined' && typeof errors.shortDescription != 'undefined') { %>
                          <span style="color: red"><%= errors.shortDescription.msg %></span> 
                        <% } %>
  
                      <select id="category" name="category" placeholder="Categoría" class="selectCategorias" required>
                          <option disabled selected>Categoría</option>
                          <% 
                            let categories = ['SMARTPHONES AND TABLETS', 'GAMER ARTICLES', 'ACCESORIES']
                           %> 
                          <% for (const oneCategory of categories) {  %>
                              <option 
                                  value="<%= oneCategory %>"
                                  <%= locals.oldData && (oneCategory == oldData.category) ? 'selected' : null %> 
                              > <%= oneCategory %> </option>  
                           <% } %>   
                          <!-- <option disabled selected>Categoría</option>
                          <option value="1">SMARTPHONES AND TABLETS</option>
                          <option value="2">GAMER ARTICLES</option>
                          <option value="3">ACCESORIES</option> -->
                      </select>
                      <% if (typeof errors != 'undefined' && typeof errors.category != 'undefined') { %>
                          <span style="color: red"><%= errors.category.msg %></span> 
                        <% } %>
  
                      <select id="status" name="status" class="selectCategorias" required>
                          <option value="1" selected>Novedad</option>
                      </select>
  
                      <input class="inp-add-prod" name="price" id="number"  placeholder="Precio" value="<%= locals.oldData && oldData.price ? oldData.price:'' %>">
                      <% if (typeof errors != 'undefined' && typeof errors.price != 'undefined') { %>
                          <span style="color: red"><%= errors.price.msg %></span> 
                        <% } %>
  
                        <div class="divAddImages">
                          <p class="textAddImages">Cargar imágenes</p>
                          <input name="image" id="prod-image" type="file" multiple="multiple" class="addImages" accept= ".jpg, .jpeg .png" required>
                      </div>
                </div>
            </div>
        </div>
        <div class="part2">
            <div >
                <div><input class="add-prod-button" type="submit" name="submit" value="Agregar"></div>
                <div><input class="reset-prod-button" type="reset" value="Borrar"></div>
            </div>
        </div>
    </form>
</section>
<script src="/js/previewImg.js"></script>
    <!-- Footer -->
    <%- include('./partials/footer') %>
    <script src="/js/validatorAddProduct.js"></script>
</body>
</html>