<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar productos</title>
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styleeditproduct.css" rel="stylesheet">
</head>

<body>
     <!-- Navbar -->
    <%- include('./partials/headerNavbar') %>

    <section>
			
		<div class="form-addprod">
			<form action="/products/editProduct/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-editproduct">
				<div class="form-edit-product">

					<h2 class="products-title">Estás editando el producto <div class="product-title-toedit">"<%=product.title%>"</div></h2>
					
					<div class="part1">
						<div class="errors">
							<ul></ul>
						  </div>
						<!-- <% if (locals.errors) { %>
							<% for ( let oneError in errors ) { %>
								<p class="errores"><%= errors[oneError].msg %></p>
							  <% } %>
							  <%} %> -->
						<label for="title" class="form-label">Título</label>
						<input class="inp-add-prod" type="text" id="title" name="title" size="30" value="<%=product.title%>">
						<% if (typeof errors != 'undefined' && typeof errors.title != 'undefined') { %>
							<span style="color: red"><%= errors.title.msg %></span> 
						  <% } %>

						<label for="descrip" class="form-label">Descripción</label>
						<input class="inp-add-prod" type="text" id="descrip" name="shortDescription" size="200" value="<%=product.descrip%>">
						<% if (typeof errors != 'undefined' && typeof errors.descrip != 'undefined') { %>
							<span style="color: red"><%= errors.descrip.msg %></span> 
						  <% } %>
						<select id="category" name="category" placeholder="Categoría" class="selectCategorias" required>
							<option disabled selected>Categoría</option>
							<% 
							  let categories = ['SMARTPHONES AND TABLETS', 'GAMER ARTICLES', 'ACCESORIES']
							 %> 
							<% for (const oneCategory of categories) {  %>
								<option 
									value="<%= oneCategory %>"
									<%= locals.oldData && (oneCategory == oldData.category) ? 'selected' : null %> 
								> <%= oneCategory %> </option>  
							 <% } %>   
						</select>
						<% if (typeof errors != 'undefined' && typeof errors.category != 'undefined') { %>
							<span style="color: red"><%= errors.category.msg %></span> 
						  <% } %>

						<select id="status" name="status" class="selectCategorias" required>
							<option disabled selected>Estatus</option>
							<% 
							  let states = ['Novedad', 'Oferta', 'General']
							 %> 
							<% for (const oneState of states) {  %>
								<option 
									value="<%= oneState %>"
									<%= locals.oldData && (oneState == oldData.status) ? 'selected' : null %> 
								> <%= oneState %> </option>  
							 <% } %>   
						</select>
						<% if (typeof errors != 'undefined' && typeof errors.status != 'undefined') { %>
							<span style="color: red"><%= errors.status.msg %></span> 
						  <% } %>

						<label for="price" class="form-label">Precio</label>
						<input class="inp-add-prod" type="number" id="price" name="price" value=<%=product.price%> class="form-input">
						<% if (typeof errors != 'undefined' && typeof errors.price != 'undefined') { %>
							<span style="color: red"><%= errors.price.msg %></span> 
						  <% } %>
				
					<div class="divAddImages">
						<p class="textAddImages">Cargar imágenes</p>
						<input name="image" id="prod-image" type="file" multiple="multiple" class="addImages" accept= ".jpg, .jpeg .png" required>
					</div>

					<div class="images-to-add">
						<div class="inp-add-image" type="" id="preview"> </div>
					 </div>
				    </div>

					<div class="col-12">
						<button type="submit" name="submit" class="add-prod-button">Guardar cambios</button>
					</div>
					<div class="prueba_delete_button">
					</div>
				
			
			</form>
			<form action="/products/editProduct/<%=product.id%>?_method=DELETE" method="POST" enctype="multipart/form-data" class="form-addprod">
				<button id="eraseProduct" type="submit" name="avaible" class="reset-prod-button">Borrar producto</button>
				<script type="text/javascript">
					document.getElementById("eraseProduct").onclick= function() {
						alert("¿Está seguro de que quiere borrar el producto?");
						return product.avaible = false;
					}
				</script>
	        </form>
		</div>
		</div>
		</div>

	</div>

</section>
	<script src="/js/previewImg.js"></script>

    <!-- Footer -->
    <%- include('./partials/footer') %>

	<script src="/js/validatorEditproduct.js"></script>

</body>
</html>