<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Tech</title>
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>

<body>
     <!-- Navbar -->
    <%- include('./partials/headerNavbar') %>

    <!-- Header -->
    <header>

    <%- include('./partials/headerMain') %>

    </header>

    
    
    <section class="novelties">






        <div class="group-stats">
            <div class="boxstats">
                <i class="material-icons">computer</i>
                <h2 class="h2-stats">COMPRA ONLINE</h2>
                <p class="p-stats">Compra Online y pagalo como quieras. Transferencia, Credito, Debito, Efectivo.</p>         
            </div>
            <div class="boxstats">
                <i class="material-icons">map-marker</i>
                <h2 class="h2-stats">ENVIOS</h2>
                <p class="p-stats">Envio gratis a todo el pais</p>
            </div>
            <div class="boxstats">
                <i class="material-icons">cellphone</i>
                <h2 class="h2-stats">AYUDA</h2>
                <p class="p-stats">Si tenés sugerencias o comentarios. No dudes en contactarnos</p>
            </div>
        </div>












       
        
        <h3>Novedades</h3>

    <div class="main-container">
        <% for (let i = 0; i < 4; i++){%>
            <% if (products[i].StatusId == 1) {%>
        <a href="/products/detail/<%=products[i].id%>" class="link-ref"><article class="display-product-index">
        <h4 class="title-prod"><%=products[i].title%></h4>
        <div class="title-overlay title-overlay--blur">
              <p class="p-overlay"><%=products[i].title%></p>
            <div class="descrip-overlay">
              <h5 class="p-overlay"><%=products[i].descrip%></p>
            </div>
        </div>

        <img src="/img/<%=products[i].image%>" alt="imagen de producto">
        
        <div class="display-description-index">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$<%=products[i].price%></p>
        </div>
        
    </article></a>
    <%}%>
    <%}%>
    </div>
    </section>

    <section class="offers">
        <h3>Ofertas de la semana</h3>

        <div class="main-container">
            <% for (let i = 0; i < 4; i++){%>
                <% if (products[i].StatusId == 2) {%>
            <a href="/products/detail/<%=products[i].id%>" class="link-ref"><article class="display-product-index">
            <h4 class="title-prod"><%=products[i].title%></h4>
            <div class="title-overlay title-overlay--blur">
                  <p class="p-overlay"><%=products[i].title%></p>
                <div class="descrip-overlay">
                  <h5 class="p-overlay"><%=products[i].descrip%></p>
                </div>
            </div>
    
            <img src="/img/<%=products[i].image%>" alt="imagen de producto">
            
            <div class="display-description-index">
            <i class="fas fa-hand-point-right"></i>
            <p class="price">$<%=products[i].price%></p>
            </div>
            
        </article></a>
        <%}%>
        <%}%>
        </div>
        <h3>Nuestras Marcas</h3>
        <div>
            <!-- Logos -->
            <%- include('./partials/logoslider') %>
        </div>
        </section>


    <!-- Footer -->
    <%- include('./partials/footer') %>



</body>
</html>