<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleregister.css">
    <title>Registro</title>
</head>
<body>
       <!-- Navbar -->
      <!-- <%- include('./partials/headerNavbar') %>  -->
    <section class="sectionn">
      <img style="background-image: url(/img/Banner2.png);" alt="" class="img-banner">
      <article class="articlee">
        <div class="logo-content-l">
          <a href="/" class="logo-letras-content">
            <div class="logo-letras-content">
              <img class="logoLetras" src="/img/logoLetras.png" alt="">
            </div>
          </a>
        </div>
        <div class="logo-content">
          <a href="/" class="logo-letras-content">
          <div class="logo-simple-content">
            <img class="logoSimple" src="/img/logoSimple.png" alt="">
          </div>
          </a>
        </div>
        <h2 class="h2-log">Registrate</h2>
        <form action="/users/register" method="POST" enctype="multipart/form-data" class="form-register">
          <div class="form-container">
            <div class="errors">
              <ul></ul>
            </div>
            
            <!-- <% if (locals.errors) { %>
            <% for ( let oneError in errors ) { %>
              <p class="errores"><%= errors[oneError].msg %></p>
            <% } %>
            <%} %> -->
            <label class="labell">
              <div class="divs">
                <p>Nombre</p>
                <span class="p-reg">¿Ya tenés cuenta? <a class= "link" href="login"> Ingresá</a></span>
              </div>
              <input class="inp" type="text" placeholder="&#128100; Nombre" name="name" value="<%= locals.oldData ? oldData.name : null %>" id="name">
              <% if (typeof errors != 'undefined' && typeof errors.name != 'undefined') { %>
                <span style="color: red"><%= errors.name.msg %></span> 
              <% } %>
              <div id="errorName" class="errors"></div>
            </label>
            
            <label class="labell">
              <div class="divs">
                <p>Apellido</p>
              </div>
              <input class="inp" type="text" placeholder="&#128100; Apellido" name="lastName" value="<%= locals.oldData ? oldData.lastName : null %>" id="lastName">
              <% if (typeof errors != 'undefined' && typeof errors.lastName != 'undefined') { %>
                <span style="color: red"><%= errors.lastName.msg %></span> 
              <% } %>
              <div id="errorLastName" class="errors"></div>
            </label>
            
            <label class="labell">
              <div class="divs"><p>Usuario</p></div>
             <input class="inp" type="text" placeholder="&#128100; Usuario" name="userAlias" id="user">
             <% if (locals.errors && errors.userAlias) { %>
              <span style="color: red"><%= errors.userAlias.msg %></span>
            <%} %>
            <div id="errorUser" class="errors"></div>
            </label>
            
            <label class="labell">
              <div class="divs"><p>E-mail</p></div>
              <input class="inp" type="email" placeholder="&#9993; E-mail" name="eMail" value="<%= locals.oldData ? oldData.eMail : null %>" id="email">
              <% if (locals.errors && errors.eMail) { %>
                <span style="color: red"><%= errors.eMail.msg %></span>
              <%} %>
              <div id="errorEmail" class="errors"></div>
            </label>
            
            <label class="labell">
              <div class="divs"><p>Contraseña</p></div>
              <input class="inp" type="password" placeholder="&#128273; Contraseña" id="password" name='password' onkeyup="check()" value="<%= locals.oldData ? oldData.password : null %>">
              <% if (locals.errors && errors.password) { %>
                <span style="color: red"><%= errors.password.msg %></span>
              <%} %>
              <div id="errorPassword" class="errors"></div>
            </label>
            
            <label class="labell">
              <div class="divs"><p>Confirmar contraseña</p></div>
              <input class="inp" type="password" placeholder="&#128273; Confirmar contraseña" id="passwordCheck" onkeyup="check()" >
              <span id="message"></span>
              <script>
              let check = function() {
                if (document.getElementById('password').value ==
                   document.getElementById('passwordCheck').value) {
                   document.getElementById('message').innerHTML = '';
                   document.getElementById('submit').disabled = false;
                } else {
                   document.getElementById('message').style.color = 'red';
                   document.getElementById('message').innerHTML = 'Las contraseñas no son iguales';
                    document.getElementById('submit').disabled = true;
                }
              }
            </script>
            </label>
            
            <label class="labell">
              <div class="divAddImages">
                <label class="p-reg">Foto de perfil:</label>
                <input name="avatar" type="file" multiple="multiple" class="p-img" accept= ".jpg, .jpeg, .png, .gif" id="avatar">
                <% if (locals.errors && errors.avatar) { %>
                  <span style="color: red"><%= errors.avatar.msg %></span>
                <%} %>
                <div id="errorImage" class="errors"></div>
              </div>
            </label>
            <input class="inp-button" id="submit" type="submit" value="Registrate">
          </div>
          
        </form>
      </article>
      <script src="/js/validatorRegister.js"></script>
    </section>
</body>
</html>